.selecao{
    width: 100%;
    height: 110px;

    display: flex;
    align-items: center;
    justify-content: center;

    font-size: 24px;
    font-weight: 400;
}
.listaFilmes{
    display: flex;
    flex-wrap: wrap;

    gap: 15px;
}
.filme{
    width: 129px;
    height: 193px;

    padding: 8px;
   
    margin-left: 25px;
}
.listaHorario{
    display: flex;
    gap: 15px;
    margin-left: 30px;
    text-decoration: none;
    
}
.horarioFilme{
    width: 100%;
    height: 35px;

    margin-bottom: 50px;
    text-decoration: none;
}
.horarioFilme p{
    font-weight: 400;
    font-size: 20px;

    color: #293845;

    margin-left: 30px;
    
    
    text-decoration: none;
}
.horario{
    width: 83px;
    height: 43px;

    background-color:#E8833A ;

    font-weight: 400;
    font-size: 20px;

    color: white;
    margin-bottom: 50px;

    display: flex;
    align-items: center;
    justify-content: center;

    border-radius: 3px;
    margin-top: 10px;

    text-decoration: none;
}
.rodape{
    position: fixed;
    bottom: 0;

    width: 100%;
    height: 117px ;

    display: flex;
    align-items: center;

    background-color: white;

    border-top: solid 1px #9EADBA ;
 }
.filmeRodape{
        width: 64px;
        height: 89px;
    
        padding: 8px;
       
        margin-left: 10px;
        margin-bottom: 15px;
        margin-top: 20px;

} 
.rodape p{
     margin-left: 14px;
     font-weight: 400;
     font-size: 26px;
     color: #293845;
}
.rodape img{
    width: 64px;
    height: 89px;
}
.topo{
    width: 100%;
    height: 67px;

    background-color: #C3CFD9;

    color:  #E8833A;
    font-weight: 400;
    font-style: normal;
    font-size: 34px;
    
    display: flex;
    align-items: center;
    justify-content: center;
}